<div class="dx-viewport demo-container">
  <div class="row">
    <p>DropDownBox with search and embedded DataGrid</p>
    <dx-drop-down-box
      width="40vw"
      #dropDownBox
      [dataSource]="dropDownBoxDataSource"
      [(value)]="dropDownValue"
      valueExpr="OrderNumber"
      [displayExpr]="gridBoxDisplayExpr"
      [openOnFieldClick]="false"
      [showClearButton]="true"
      [acceptCustomValue]="true"
      [(opened)]="gridBoxOpened"
      placeholder="Select a value..."
      valueChangeEvent=""
      (onInput)="onInput($event)"
      (onOptionChanged)="onOptionChanged($event)"
      (onValueChanged)="onDropDownValueChanged($event)"
      (onKeyDown)="onDropDownBoxKeyDown($event)"
      (onOpened)="onOpened($event)"
      (onClosed)="onClosed($event)"
    >
      <dxo-drop-down-options [height]="400"></dxo-drop-down-options>

      <div *dxTemplate="let data of 'content'">
        <dx-data-grid
          #dataGrid
          [dataSource]="dataSource"
          height="100%"
          width="100%"
          [focusedRowEnabled]="true"
          [(focusedRowKey)]="focusedRowKey"
          [focusedRowIndex]="focusedRowIndex"
          [(selectedRowKeys)]="selectedRowKeys"
          [autoNavigateToFocusedRow]="false"
          [remoteOperations]="true"
          [columnAutoWidth]="true"
          (onKeyDown)="dataGridKeyDown($event)"
          (onContentReady)="dataGridContentReady($event)"
          (onFocusedRowChanged)="onFocusedRowChanged($event)"
          (onSelectionChanged)="onSelectionChanged($event)"
        >
          <dxi-column
            dataField="OrderNumber"
            caption="ID"
            dataType="number"
          ></dxi-column>
          <dxi-column dataField="OrderDate" dataType="date"></dxi-column>
          <dxi-column dataField="StoreState" dataType="string"></dxi-column>
          <dxi-column dataField="StoreCity" dataType="string"></dxi-column>
          <dxi-column dataField="Employee" dataType="string"></dxi-column>
          <dxi-column dataField="SaleAmount" dataType="number">
            <dxo-format type="currency" [precision]="2"></dxo-format>
          </dxi-column>
          <dxo-paging [enabled]="true" [pageSize]="10"></dxo-paging>
          <dxo-selection mode="single"></dxo-selection>
          <dxo-scrolling mode="virtual"></dxo-scrolling>
        </dx-data-grid>
      </div>
    </dx-drop-down-box>
  </div>

  <div class="options">
    <div class="caption">Search Options</div>
    <div class="option">
      <div>Search Expression</div>
      <div>StoreCity, StoreState, Employee</div>
    </div>
  </div>
</div>
