<div class="dx-viewport demo-container">
  <div class="row">
    <p>DropDownBox with search and embedded DataGrid</p>
    <app-drop-down-grid
      [selectedRowKey]="35709"
      [dataSource]="dataSource"
      [dropDownBoxDataSource]="dropDownBoxDataSource"
      [searchTimeout]="searchTimeout"
      [displayExpr]="displayExpr"
    ></app-drop-down-grid>
  </div>

  <div class="options">
    <div class="caption">Search Options</div>
    <div class="option">
      <div>Search Expression</div>
      <dx-select-box
        id="searchExpr"
        [items]="searchExprOptions"
        displayExpr="name"
        valueExpr="value"
        [value]="selectedSearchExpr"
        (onValueChanged)="onSearchExprChanged($event)"
      >
      </dx-select-box>
    </div>

    <div class="option">
      <div>Search Timeout</div>
      <dx-number-box
        id="searchTimeout"
        [min]="0"
        [max]="10000"
        [(value)]="searchTimeout"
        [showSpinButtons]="true"
        [step]="100"
      >
      </dx-number-box>
    </div>
  </div>
</div>
